@import "../../scss/variables.scss";

.categories-page {
  // position: relative;

  main {
    margin-top: 24px;
    height: calc(100vh - 72px - 24px - 126px); //126 => 210

    .categories-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 272px);
      grid-auto-rows: 200px;
      grid-gap: 40px;

      &_loading {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .categories-item {
        box-shadow: 1px 2px 4px rgba(112, 192, 91, 0.2);
        border-radius: 4px;
        background: #FFFFFF linear-gradient(180deg, rgba(112, 192, 91, 0) 0%, #70C05B 82.81%);
        overflow: hidden;
        cursor: pointer;
        position: relative;
        display: flex;

        img {
          transition: .6s all;
          position: absolute;
          width: 100%;
          z-index: 1;
        }

        &__text {
          width: 100%;
          z-index: 2;
          padding: 0 10px 10px 10px;
          background: linear-gradient(180deg, rgba(112, 192, 91, 0) 0%, #70C05B 82.81%);

          &.orange-bg {
            background: linear-gradient(180deg, rgba(255, 102, 51, 0) 0%, #FF6633 100%);
          }

          p {
            transition: .6s all;
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: #FFFFFF;
            font-family: "Rubik-SemiBold", sans-serif;
            font-size: 1.125rem;
          }
        }

        &:hover {

          img {
            transition: .6s all;
            transform: scale(1.05);
          }

          p {
            transition: .6s all;
            font-size: 1.2rem;
          }
        }

        &_large-start {
          grid-column-start: 1;
          grid-column-end: 3;
        }

        &_large-end{
          grid-column-start: 3;
          grid-column-end: 5;
        }

        &_large-middle{
          grid-column-start: 2;
          grid-column-end: 4;
        }
      }
    }
  }
}


@media screen and (max-width: $w-1260) {
  .categories-page main .categories-wrapper {
    grid-template-columns: repeat(3, minmax(272px, 1fr));
  }
}

@media screen and (max-width: $w-1040) {
  .categories-page main .categories-wrapper {
    grid-template-columns: repeat(2, minmax(272px, 1fr));
  }

  .categories-page main {
    height: 100%;
  }

  .categories-page main h1 {
    font-size: 3rem;
    margin-bottom: 30px;
  }

  .categories-page main .categories-wrapper_loading {
    height: calc(100vh - 390px);
  }
}

@media screen and (max-width: 635px) {
  .categories-page main .categories-wrapper {
    grid-gap: 20px;
  }
}

@media screen and (max-width: $w-595) {
  .categories-page main .categories-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: $w-485) {
  .categories-page main h1 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .categories-page main .categories-wrapper {
    grid-auto-rows: 155px;
  }

  .categories-page main .categories-wrapper .categories-item__text p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 395px) {
  .categories-page main .categories-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .categories-page main .categories-wrapper .categories-item__text p {
    font-size: 1rem;
  }
}
