.custom-paging {
    list-style: none;
    display: flex;
    column-gap: 10px;

    li {

        a {
            padding: 7px 9px;
            background: #FCD5BA;
            color: #FF6633;
            border-radius: 5px;
            transition: .3s all;
            cursor: pointer;
            display: block;
        }

        &.selected {

            a {
                background: #FF6633;
                color: #FFFFFF;
            }
        }

        &.next, &.previous {

            a {
                background: #FF6633;
                color: #FFFFFF;
            }
        }
    }
}