.product-skeleton-loader {
    --skeleton-color: #e6e6e6e5;
    $base-color: #e6e6e6e5; // rgba(207, 207, 207, 0.6)
    $shine-color: #f0f0f0f0;
    $animation-duration: 2s;
    $avatar-offset: 68;

    // background-image: linear-gradient(120deg, $base-color 0px, $shine-color 20px, $base-color 80px); 

    cursor: default;
    filter: blur(0.3px);

    &:hover {
        box-shadow: none;

        .product__btn {
            color: inherit;
            background: inherit;
        }
    }

    &.product {
        overflow: hidden;
        background-image: radial-gradient(rgb(255, 255, 255) 100%, transparent 0%);

        .product__like {
            background-image: radial-gradient(var(--skeleton-color) 100%, transparent 0%);
            opacity: 1;
        }

        .product__image {
            // background-image: linear-gradient(var(--skeleton-color) 100%, transparent 0%);
            background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
            animation: shine-lines $animation-duration infinite linear alternate; 
            // opacity: 0.8;
        }

        .product__content .content-price {
            background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
            animation: shine-lines $animation-duration infinite linear alternate; 
            height: 21px;
            margin-bottom: 24px;
        }

        .product__content .content-info {
            background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
            animation: shine-lines $animation-duration infinite linear alternate; 
            height: 37px;
        }

        .product__btn {
            background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px); 
            animation: shine-lines $animation-duration infinite linear alternate;
            border: none;
        }

        .product__content .content-rating .rating-star {
            background-image: linear-gradient(var(--skeleton-color) 100%, transparent 0%);
            border-radius: 50%;
        }
    }

    @keyframes shine-lines {
        0% {
            background-position: -100px + $avatar-offset
        }
      
        100% {
            background-position: 140px + $avatar-offset
        }
    }
}