.popup {
  position: relative;
  background: #FFFFFF;
  border-radius: 4px;

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    background: #F3F2F1;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.auth-popup {
  width: 420px;
  box-shadow: 8px 16px 32px rgba(255, 102, 51, 0.2);

  &__content {
    width: 260px;
    margin: 72px auto 40px auto;
    box-sizing: border-box;

    .content-header {
      text-align: center;

      h1 {
        color: #414141;
        font-size: 1.5rem;
      }
    }

    .content-main {
      margin-top: 35px;

      .auth-input {
        position: relative;

        .auth-hint {
          z-index: 1;
          position: absolute;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          user-select: none;
          transition: .3s;

          &_visible {
            opacity: 1;
            transition: .3s;
            user-select: inherit;
          }
        }

        &__title {
          color: #8F8F8F;
          font-size: 1.125rem;
          margin-bottom: 8px;
        }

        input {
          box-sizing: border-box;
          height: 60px;
          box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
          border-radius: 4px;
          border: 1px solid #70C05B;
          color: #414141;
          font-size: 1.5rem;
          padding: 12px 16px;
          outline: none;
          width: 100%;
        }

        &__block {
          position: relative;

          &.password-input {

            input {
              padding-right: 40px;
            }
          }

          svg {
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 14px;
          }
        }
      }

      &__btn {
        margin-top: 32px;
      }
    }

    .content-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 32px;
      height: 34px;

      &__btn, &__link {
        cursor: pointer;

        p {
          font-size: 0.75rem;
        }
      }

      &__btn {
        border-radius: 4px;
        border: 1px solid #70C05B;
        width: 120px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        transition: .3s all;

        p {
          color: #70C05B;
        }

        &:hover  {
          background: #70C05B;
          transition: .3s all;

          p {
            color: #FFFFFF;
          }
        }
      }

      &__link {
        display: flex;
        align-items: center;

        svg {
          margin-right: 8px;
        }

        p {
          color: #606060;
        }
      }
    }
  }
}
