.basket-page {

    &.page {
        padding-bottom: 0;
    }

    .main {
        margin-top: 24px;
        height: calc(100vh - 96px);

        &__navigation {
            position: relative;
            display: inline-block;

            p {
                position: absolute;
                background: #FF6633;
                border-radius: 4px;
                color: #FFFFFF;
                font-size: 1rem;
                padding: 4px 8px;

                top: 0;
                left: calc(100% + 10px);
            }
        }
    }

    &__wrapper {
        display: flex;
        column-gap: 60px;
    }

    &__body {}

    &__top {
        display: flex;
        column-gap: 48px;
        margin-bottom: 24px;

        .basket-top-item {
            display: flex;
            align-items: center;

            &.select-all {
                cursor: pointer;
                user-select: none;


                .select-all__icon {
                    width: 24px;
                    height: 24px;
                    background: #70C05B;
                    border: 1px solid #F3F2F1;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                }

                p {
                    color: #606060;
                    font-size: 0.75rem;
                }

            }

            &.select-delete {
                font-size: 0.75rem;
                color: #FF6633;
                cursor: pointer;
                font-weight: 400;
            }
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        flex: 0.75;
    }

    &__aside {
        flex: 0.25;
    }

    &__bonus {

        .bonus-text {
            margin-bottom: 24px;
        }
    }

    &__text {
        color: #8F8F8F;
        font-size: 1rem;

        &_black {
            color: #414141;
        }
    }

    &__line {
        background: #F3F2F1;
        height: 1px;
        width: 100%;
        display: block;
        margin: 24px 0;
    }

    &__check {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .check-item {
            display: flex;
            justify-content: space-between;

            &.bonus-item {

                p:last-child {
                    color: #FF6633;
                    font-family: "Rubik-Medium", sans-serif;
                }
            }
        }
    }

    &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p:last-child {
            font-family: "Rubik-Medium", sans-serif;
            font-size: 1.5rem;
            color: #414141;
        }
    }

    &__bottom {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;

        .error-hint {
            max-width: inherit;
            width: max-content;
            padding: 3px 8px;
            box-sizing: border-box;

            svg {
                display: none;
            }

            p {
                font-size: 0.75rem;
            }
        }

        .custom-button {
            height: 60px;
        }
    }
}
