.custom-filter {
    width: 100%;
    row-gap: 40px;
    display: flex;
    flex-direction: column;

    &__header {
        background: #F3F2F1;
        border-radius: 4px;
        padding: 10px;

        p {
            color: #414141;
            font-size: 1rem;
            font-weight: bold;
        }
    }

    &__btn {
        .custom-button {
            height: 40px;
            font-size: 1rem;
        }
    }
}