@import "../../scss/variables";

.catalog-list {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05) inset, 0 10px 10px rgba(0, 0, 0, 0.08);
  z-index: 1;
  position: absolute;
  overflow: hidden;
  height: 0;
  transition: .3s linear;

  &_open {
    transition: .3s linear;
    height: 248px;
  }

  &__wrapper {
    width: $wrapperWidth;
    padding: 40px 0;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    height: 100%;

    .list-block {
      display: flex;
      flex-direction: column;
      height: 100%;

      &:not(:last-child) {
        margin-right: 80px;
      }
    }

    .list-item {
      color: #414141;
      font-family: "Rubik-SemiBold", sans-serif;
      text-decoration: none;
      transition: .3s all;

      &:not(:first-child) {
        margin-top: 24px;
      }

      &:hover {
        transition: .3s all;
        color: #FF6633;
      }
    }
  }
}
