@import "../../scss/variables";

.footer {
  height: $footerHeight;
  width: 100%;
  background: url("../../../public/images/footer/bg.svg"), #F9F4E2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;

  &__wrapper {
    width: $wrapperWidth;
    height: 45px;
    display: flex;
    align-items: center;
  }

  &__left {
    margin-right: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__links {
    display: flex;
    margin: 0 0 0 40px;

    a {
      text-decoration: none;
      color: #414141;
      font-size: 0.75rem;
      display: block;

      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  &__social {

    a {
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }

  &__phone {
    margin-left: 40px;

    a {
      display: flex;
      align-items: center;
      color: #414141;
      text-decoration: none;
      font-family: "Rubik-Medium", sans-serif;

      svg {
        margin-right: 8px;
      }
    }
  }
}

@media screen and (max-width: $w-1260) { 
  .footer__wrapper {
    width: $wrapperWidth;
  }

  .footer__links {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    row-gap: 8px;
    column-gap:15px;

    a {
      width: max-content;
      display: inline;
    }

    a:not(:last-child) {
      margin-right: 0;
    }

    a:last-child {
      grid-column: 2 / 4;
    }
  } 
}

@media screen and (max-width: $w-1040) { 
  .footer__wrapper {
    width: $wrapperWidth;
  }

  .footer__social {
    width: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;

    a:not(:last-child) {
      margin: 0;
    }
  }

  .footer__phone {
    margin-left: 24px;
  }
}

@media screen and (max-width: $w-750) { 
  .footer {
    height: $footerHeight;
  }

  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
    column-gap:20px;
  }

  .footer__social {
    width:inherit;
    column-gap:16px;
  }
  
  .footer__links {
    order: 2;
    margin: 0 auto;
    grid-template-columns: 0.5fr 0.5fr 1fr 1fr;

    a:last-child {
      grid-column: 1 / 5;
    }
    // width: 100%;
    // justify-content: center;
  }

  .footer__left {
    margin: 0;
    order: 1;
    flex-direction:column;
  }
}