@import "../../scss/variables.scss";

.section {

  &:not(:first-child) {
    margin-top: 120px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    h2 {
      color: #414141;
      font-size: 2.25rem;
      font-family: Rubik-SemiBold, sans-serif;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #606060;


      svg {
        margin-left: 25px;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: $w-1260) {
  .section__content {
    row-gap: 30px;
  }
}

@media screen and (max-width: $w-1040) {
  #news-section {

    .section__content {
      justify-content: center;
    }
  }

  .section {
    &:not(:first-child) {
      margin-top: 80px;
    }
  }
}

@media screen and (max-width: $w-595) {
  .section__header {
    margin-bottom: 16px;
  }

  .section__header h2 {
    font-size: 1.5rem;
  }

  .section__header a {
    font-size: 1rem;
  }

  .section__content {
    column-gap: 16px;
    row-gap:16px;
  }

  .product-section .section__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
