@import "./variables";

* {
  padding: 0;
  margin: 0;
  font-family: Rubik, sans-serif;
  ::-webkit-scrollbar {display:none;}
}

.main {
  max-width: $wrapperWidth;
  margin: 0 auto;
}

.page {
  padding-bottom: 206px;
}
