@import "./variables";

* {
  padding: 0;
  margin: 0;
  font-family: Rubik, sans-serif;
  ::-webkit-scrollbar {display:none;}
}

.main {
  max-width: $wrapperWidth;
  margin: 0 auto;

  h1 {
    color: #414141;
    font-size: 4rem;
    margin-bottom: 60px;
    user-select: none;
  }

  .item-basket {
    p, svg path {
      fill: #D80000;
      color: #D80000 !important;
    }
  }
}

.page {
  padding-bottom: 206px;
}

@media screen and (max-width: $w-1040) {
  .main h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: $w-485) {
  .main h1 {
    font-size: 2rem;
  }
}
