$wrapperWidth: 1210px;

$headerHeight: 72px;
$footerHeight: 126px;

$mobileBottomHeight: 56px;

$adaptingMainPadding: 10px;

// AdaptingPoints
$w-1260: 1260px;
$w-1040: 1040px;
$w-750: 750px;
$w-595: 595px;
$w-485: 485px;

@media screen and (max-width: $w-1260) {
    $wrapperWidth: 1000px;

    .header-wrapper, .main, .catalog-list__wrapper, .footer .footer__wrapper {
        width: $wrapperWidth;
    }
 }

 @media screen and (max-width: $w-1040) {
    $wrapperWidth: 728px;

    .header-wrapper, .main, .catalog-list__wrapper, .footer .footer__wrapper {
        width: $wrapperWidth;
    }
 }

 @media screen and (max-width: $w-750) {
    $wrapperWidth: 565px;
    $footerHeight: 160px;

    .header-wrapper, .main, .catalog-list__wrapper, .footer .footer__wrapper {
        width: $wrapperWidth;
    }

    .footer {
        height: $footerHeight;
    }
 }

 @media screen and (max-width: $w-595) { 
    $wrapperWidth: initial;

    .header-wrapper, .main, .catalog-list__wrapper, .footer .footer__wrapper {
        width: $wrapperWidth;
        padding: 0 $adaptingMainPadding 0 $adaptingMainPadding;
    }

    .header-wrapper__filter .filter-input {
        min-width: initial;
    }
}
