@import "../../scss/variables.scss";

.page_home {
  position: relative;

  .main {
    margin-top: 80px;
  }
}

@media screen and (max-width: $w-1040) { 
  .page_home .main {
    margin-top: 40px;
  }
}